# Flutter app
app/build/
app/.dart_tool/
app/pubspec.lock

# Next.js website
website/.next/
website/node_modules/

# Node
firebase/functions/node_modules/
website/node_modules/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Firebase
.firebase/
firebase/functions/lib/
firebase/functions/*.js
firebase/functions/*.map
firebase/functions/*.log
